.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        = current_user.name
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to new_group_path, style: "color:white;" do
            %i.fa.fa-edit
        %li.user-menu__new-group
          = link_to edit_user_path(current_user), style: "color:white;" do
            %i.fa.fa-cog
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__group-name
              = group.name
            .group__last-message
              = group.show_last_message
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name{data: {group_id: @group.id}}
          = @group.name
        %ul.member-list
          Member : 
          - @name_list.each do |name|
            = name
      .main-header__edit-btn
        = link_to "Edit", edit_group_path(@group.id), style: "color:#38aef0;"
    .messages
      = render partial: "message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        .new-message
          .input-box
            = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'image-label' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'image-label__input'
          = f.submit 'Send', class: 'new-message__submit-btn', id: 'new-message__submit-btn'