.chat-group-form
  %h1 チャットグループ編集
  = form_for @group do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |message|
            %li= message
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, name: 'group[name]', class: 'chat__group_name chat-group-form__input', placeholder: '=%group.name'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: 'chat-group-form__label', for: "user-search-field"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = f.text_field :name, name: 'search', class: 'chat-group-form__input', placeholder: '追加したいユーザー名を入力してください', id: 'user-search-field'
        .user-search-result 
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        = render partial: "user", collection: @group.group_users
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        %input.chat-group-form__action-btn{"data-disable-with": "Save", name: "commit", type: "submit", value: "Save"}/
